version: '3.8'
services:
  mysql:
    image: mysql:8.0
    container_name: ignite-call-mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: ignite_call
      MYSQL_USER: ignite
      MYSQL_PASSWORD: ignite123
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    command: --default-authentication-plugin=mysql_native_password

volumes:
  mysql_data: